<template>
    <div class="section-home">
        <h1 class="title">Printful Quiz</h1>
        <div class="field-group">
            <Input v-model="name" placeholder="Enter your name"/>
            <p class="field-error">{{ getErrorMsg('name') }}</p>
        </div>
        <div class="field-group">
            <Select :items="categories" @select="onQuizSelect"/>
            <p class="field-error">{{ getErrorMsg('quiz') }}</p>
        </div>
        <Button @click="onSubmit">Start</Button>
    </div>
</template>

<script>
export default {
    name: 'Home',
    data() {
        return {
            name: '',
            quiz: null,
            errors: [],
        }
    },
    computed: {
        categories() {
            return this.$store.state.quizzes;
        },
        hasErrors() {
            return this.errors.length > 0;
        },
    },
    methods: {
        onQuizSelect(quiz) {
            this.quiz = quiz;
        },
        onSubmit() {
            this.validate();

            if (!this.hasErrors) {
                this.$store.commit('setUser', {name: this.name, quizId: this.quiz.id});
                this.$emit('submit');
            }
        },
        validate() {
            this.errors = [];

            if (this.name.trim() === '') {
                this.errors.push({field: 'name', msg: 'Please enter your name'})
            }

            if (this.quiz === null) {
                this.errors.push({field: 'quiz', msg: 'Please choose quiz category'})
            }
        },
        getErrorMsg(field) {
            const error = this.errors.find(err => err.field === field);
            return error ?  error.msg : '';
        },
    },
}
</script>

<style lang="scss" scoped>
    .section-home {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
    .title {
        font-size: 40px;
        margin-bottom: 30px;
        color: #fff;
    }
    .field-group {
        margin-bottom: 10px;
        text-align: left;
        .field-error {
            font-size: 12px;
            font-weight: 400;
            padding: 4px 10px 0 10px;
            color: red;
        }
    }
</style>