<template>
    <div class="section-quiz" v-if="questions.length && answers.length">
        <div class="question">{{ currentQuestion.title }}</div>
        <div class="answers">
            <div
                v-for="(answer, i) in currentAnswers" :key="i"
                :class="['answer', {'active': isActive(answer.id)}]"
                @click="selectAnswer(answer)"
            >
                {{answer.title}}
            </div>
        </div>
        <div class="progress-block">
            <ProgressBar :current="step" :total="totalSteps"/>
            <Button v-if="step !== questions.length" @click="onNext" :disabled="buttonDisabled">Next</Button>
            <Button v-else @click="onSubmit" :disabled="buttonDisabled">Submit</Button>
        </div>
    </div>
</template>

<script>
import ProgressBar from '@/components/ProgressBar';

export default {
    name: 'Quiz',
    components: {
        ProgressBar,
    },
    data() {
        return {
            step: 1,
            selectedAnswer: null,
        }
    },
    computed: {
        questions() {
            return this.$store.state.questions;
        },
        answers() {
            return this.$store.state.answers;
        },
        currentQuestion() {
            return this.questions[this.step - 1];
        },
        currentAnswers() {
            const current = this.answers.find(answer => answer.questionId === this.currentQuestion.id);
            return current.answers;
        },
        buttonDisabled() {
            return this.selectedAnswer === null;
        },
        totalSteps() {
            return this.$store.getters.totalSteps;
        },
    },
    async mounted() {
        await this.$store.dispatch('fetchQuestions');
        await this.$store.dispatch('fetchAnswers');
    },
    methods: {
        selectAnswer(answer) {
            this.selectedAnswer = answer;
        },
        isActive(answerId) {
            if (this.selectedAnswer === null) return false;
            return answerId === this.selectedAnswer.id;
        },
        onNext() {
            this.$store.commit('addSelectedAnswer', this.selectedAnswer);
            this.selectedAnswer = null;
            this.step += 1;
        },
        async onSubmit() {
            this.$store.commit('addSelectedAnswer', this.selectedAnswer);
            await this.$store.dispatch('fetchResult');
            this.$emit('submit');
        },
    }
}
</script>

<style lang="scss" scoped>
    .section-quiz {
        width: 100%;
        max-width: 800px;
        text-align: center;
    }
    .question {
        font-size: 30px;
        color: #eee;
        margin-bottom: 60px;
    }
    .answers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 30px;
        margin-bottom: 50px;
    }
    .answer {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        padding: 15px 20px;
        border-radius: 6px;
        color: #eee;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            transition: all .2s ease-in;
        }
        &:hover,
        &.active {
            background: #eee;
            color: #222831;
        }
    }

    .progress-block {
        display: flex;
        align-items: center;
        &::v-deep .progress-bar {
            margin-right: 30px;
        }
        &::v-deep .btn {
            width: 150px;
        }
    }

    @media screen and (max-width: 600px) {
        .question {
            font-size: 20px;
            margin-bottom: 30px;
        }
        .answers {
            grid-template-columns: 1fr;
            gap: 15px;
        }
        .answer {
            padding: 10px 20px;
        }
    }

    @media screen and (max-width: 400px) {
        .progress-block {
            flex-direction: column;
            &::v-deep .progress-bar {
                margin-right: 0;
                margin-bottom: 10px;
            }
            &::v-deep .btn {
                width: 100%;
            }
        }
    }
</style>