<template>
    <div class="section-result">
        <div class="result-thanks">Thanks, {{ userName }}!</div>
        <div class="result-score">
            You've responded correctly to {{ result.correct }} out of {{ result.total }} questions.
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        userName() {
            return this.$store.state.user.name;
        },
        result() {
            return this.$store.state.result;
        },
    }
}
</script>

<style lang="scss" scoped>
    .section-result {
        text-align: center;
    }
    .result-thanks {
        font-size: 30px;
        font-weight: 500;
        color: #eee;
        margin-bottom: 5px;
    }
    .result-score {
        font-size: 18px;
        font-weight: 400;
        color: #eee;
    }
</style>