<template>
    <button class="btn" @click="onButtonClick" :disabled="disabled">
        <span class="btn-text">
            <slot></slot>
        </span>
    </button>
</template>

<script>
export default {
    name: 'Button',
    props: {
        disabled: {
            type: Boolean,
            required: false,
            default: false,
        },
    },
    methods: {
        onButtonClick() {
            this.$emit('click');
        },
    }
}
</script>

<style lang="scss" scoped>
    .btn {
        display: block;
        width: 100%;
        height: 40px;
        border: 0;
        border-radius: 6px;
        outline: none;
        background: #00adb5;
        transition: background, opacity  .2s ease;
        cursor: pointer;
        &:hover {
            background: darken(#00adb5, 10%);
        }
        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    .btn-text {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }
</style>