<template>
    <input
        class="input"
        :value="value"
        :type="type"
        :placeholder="placeholder"
        @input="onInput($event.target.value)"
    >
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: false,
            default: ''
        },
        type: {
            type: String,
            required: false,
            default: 'text',
        },
        placeholder: {
            type: String,
            required: false,
            default: 'text',
        },
    },
    methods: {
        onInput(value) {
            this.$emit('input', value);
        }
    }
}
</script>

<style lang="scss" scoped>
    .input {
        width: 100%;
        height: 36px;
        border-radius: 6px;
        border: 0;
        padding: 0 15px;
        outline: none;
        font-size: 14px;
        font-weight: 500;
        background: #393e46;
        color: #eee;
        &::-webkit-input-placeholder {
            color: #eee;
        }
        &::-moz-placeholder {
            color: #eee;
        }
    }
</style>