<template>
    <div class="progress-bar">
        <div class="bar">
            <div class="bar-filler" :style="`width:${fillerWidth()}`"></div>
        </div>
        <div class="progress-count">{{ `${current}/${total}` }}</div>
    </div>
</template>

<script>
export default {
    name: 'ProgressBar',
    props: {
        current: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        }
    },
    methods: {
        fillerWidth() {
            const widthPercent = (this.current / this.total) * 100;
            return `calc(${widthPercent}% - 4px)`;
        },
    }
}
</script>

<style lang="scss" scoped>
    .progress-bar {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .progress-count {
        font-size: 16px;
        font-weight: 700;
        color: #eee;
        margin-right: 15px;
    }
    .bar {
        position: relative;
        width: 100%;
        height: 40px;
        border: 2px solid #eee;
        border-radius: 6px;
        margin-right: 15px;
    }
    .bar-filler {
        height: 32px;
        background: #eee;
        border-radius: 3px;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: all .2s ease;
    }
</style>