<template>
    <div class="select-wrap">
        <div :class="['select', {'open': open}]">
            <div class="select-current" @click="toggleSelect">
                <div v-if="selected" class="selected">{{ selected.title }}</div>
                <div v-else class="placeholder">Choose test</div>
            </div>
            <div class="select-options">
                <div
                    v-for="(item, i) in items"
                    :key="i"
                    class="option"
                    @click="optionSelect(item)"
                >
                    {{ item.title }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Select',
    props: {
        items: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            selected: null,
            open: false,
        }
    },
    methods: {
        toggleSelect() {
            this.open = !this.open;
        },
        optionSelect(option) {
            this.selected = option;
            this.toggleSelect();
            this.$emit('select', this.selected);
        },
    }
}
</script>

<style lang="scss" scoped>
    .select-wrap {
        display: flex;
        align-items: center;
    }

    .select {
        width: 100%;
        position: relative;
        text-align: left;
        cursor: pointer;
        &.open {
            z-index: 999;
            .select-options {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
            .select-current {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .select-current {
        display: flex;
        align-items: center;
        height: 36px;
        padding: 0 30px 0 15px;
        font-size: 14px;
        font-weight: 500;
        background: #393e46;
        border-radius: 6px;
        text-transform: capitalize;
        position: relative;
        transition: border-radius .3s ease-in-out;
        color: #eee;
        .placeholder {
            color: #eee;
        }
        &>* {pointer-events: none;}
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -4.5px;
            right: 10px;
            width: 16px;
            height: 9px;
            background-image: url(../assets/img/icons/select-arrow.svg);
            background-repeat: no-repeat;
            transition: transform .2s ease-in-out;
        }
    }
    .select-options {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        transform: translateY(-5px);
        transition: all .3s ease-in-out;
    }
    .option {
        text-transform: capitalize;
        color: #eee;
        background: #393e46;
        padding: 10px 15px;
        font-size: 14px;
        &:hover {
            background: darken(#393e46, 5%);
        }
        &:last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
</style>