<template>
    <div class="main">
        <transition-group name="slide-fade" tag="div" class="transition-wrapper">
            <Home v-if="isSectionStep(1)" key="home" @submit="nextSectionStep"/>
            <Quiz v-if="isSectionStep(2)" key="quiz" @submit="nextSectionStep"/>
            <Result v-if="isSectionStep(3)" key="result"/>
        </transition-group>
    </div>
</template>

<script>
import Home from '@/views/Home';
import Quiz from '@/views/Quiz';
import Result from '@/views/Result';

export default {
    components: {
        Home,
        Quiz,
        Result,
    },
    data() {
        return {
            sectionStep: 1,
        }
    },
    async beforeCreate() {
        await this.$store.dispatch('fetchQuizzes');
    },
    methods: {
        isSectionStep(step) {
            return this.sectionStep === step;
        },
        nextSectionStep() {
            this.sectionStep += 1;
        },
    }
}
</script>

<style lang="scss">
    @import '@/assets/scss/app.scss';

    .main {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 30px;
    }

    .transition-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .slide-fade-enter-active {
        transition: all .4s ease;
    }
    .slide-fade-leave-active {
        transition: all .2s ease-out;
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateY(30px);
        position: absolute;
        opacity: 0;
    }
</style>
